a {
  margin: 0;
}
.container {
  width: 96%;
  max-width: 1200px;
  margin: auto;
}
.container--small {
  max-width: 960px;
}
.d-flex {
  display: flex;
}
.title_block {
  text-align: center;
}
.title_block h2 {
  margin: 0;
  color: c_main;
  font-family: f_lato_bl;
  font-size: 36px;
}
.img_res {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 960px) {
  .title_block h2 {
    font-size: 32px;
  }
}
