.pag-404
    margin-top 20px
    .container
        display flex
        justify-content space-between
        .image
            margin-left 20px
            figure
                margin-bottom -1px
                img
                    display block
                    width 100%
                    height auto
        .text-gracias
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width 540px
            h3
                font-size 40px
                color c_main
                font-family f_lato_b


            p
                color #989A9D
                font-size 20px
                margin-bottom 40px
                font-family f_lato_b
            a
                max-width 124px
@media screen and (max-width 768px)
    .pag-404
        margin-bottom 20px
        .container
            .text-gracias
                h3
                    font-size 32px
                p
                    font-size 18px
                a
                    margin auto
            .image
                display none
@media screen and (max-width 480px)
    .pag-404

        .container
            .text-gracias
                h3
                    font-size 26px
                p
                    font-size 16px

