.header
	height 100px
	&__container
		height 100%
		display flex
		justify-content space-between
		align-items center
	&__logo
		img
			display block
	&__menu
		ul
			display flex
			li
				margin 0px 30px
				a
					color c_plomo

