/*Page HOME*/
.container_slider
    width 100%

    &__list
        &__item
            z-index 1000
            height 560px
            width 100%
            background-position center center
            background-size cover
            .capa
                background rgba(0,0,0,0.5)
            .container
                display flex !important
                align-items center
                height 100%
            .container_slider__description
                max-width 420px
                transform translateY(50)
                transition all 0.6s cubic-bezier(0.68, -0.45, 0.165, 1.35)
                opacity 0
                margin-top 20px
                .container_slider__title
                    font-family f_lato_b
                    font-size 36px
                    color c_white
        &__item.active
            .container_slider__description
                opacity 1
                margin-top 0
                transform translateY(0) !important
    &__btn
        margin-top 40px
        display inline-block
    .bx-wrapper
        position relative
    .bx-pager
        display flex
    .bx-has-pager
        position absolute
        left 0
        right 0
        z-index 100
        max-width 1200px
        width 96%
        margin auto
        bottom 20px
    .bx-pager-item
        margin 0px 3px
    .bx-wrapper .bx-pager.bx-default-pager a
        position: relative
        text-indent: -99999px
        outline: 0
        display: inline-block
        width: 12px
        height: 12px
        border: 1px solid transparent
        border-radius: 50%
        margin: 2px 0px
        background c_white
    .bx-wrapper .bx-pager.bx-default-pager a.active
        background c_celeste_o !important

.home_producto_industria
    margin-top 50px
    .title_block
        margin-bottom 50px
    .producto_industria_slider

        &__cnt_img--bottom
            margin-top 40px
        &__img
            position relative
            display block
            img
                display block
        .capa
            position absolute
            top 0
            left 0
            background-image url("../img/capa.png")
            z-index 10
            width 100%
            height 100%
        &__item
            cursor pointer
            .capa--hover
                transition 0.7s ease all
                transform scale(0)
                position absolute
                display flex
                top 0
                bottom 0
                left 0
                right 0
                flex-direction column
                justify-content center
                align-items center
                .d-flex
                    align-items center
                    justify-content center
                    flex-direction column
                .img__hover
                    width 47px
                    height 40px
                    background-size cover
                h4.title_industria__hover
                    font-family f_lato_b
                    font-size 19px

                    margin auto
                    color c_white
                    text-align center
                    margin 5px 10px 0px 10px
                    z-index 1000
                .title_industria__border
                    content ""
                    width 30px
                    height 2px

                    background #fff

                    margin 0
                    margin-top 8px
            h4.title_industria
                font-family f_lato_b
                font-size 19px
                position absolute
                bottom 20px
                left 0
                right 0
                margin auto
                color c_white
                text-align center
                margin 0px 10px
                z-index 20
                transition 0.4s ease all
            &:hover
                h4.title_industria
                    opacity 0
                .capa--hover
                    transform scale(1)
                    background rgba(47, 87, 201, 0.6)
                    z-index 20
                    width 100%
                    height 100%
                    position absolute
                    top 0
                    left 0

    .bx-wrapper
        margin auto
        position relative
        .bx-controls-direction
            .bx-prev
                background-image url("../img/flecha_left.png")
                background-size cover
                width 40px
                display block
                height 40px
                position absolute
                left -50px
                top 50%
                transform rotate(180deg)
                transition 0.3s ease all
                &:hover
                    background-image url("../img/flecha_left_hover.png")
            .bx-next
                background-image url("../img/flecha_left.png")
                width 40px
                display block
                height 40px
                position absolute
                right -50px
                top 50%
                transition 0.3s ease all
                background-size cover
                &:hover
                    background-image url("../img/flecha_left_hover.png")
.home_productos_destacados
    display flex
    margin-top 80px
    max-width 2600px
    position relative
    &:before
        content ""
        position absolute
        left 0
        bottom 0px
        height 1px
        width 100%
        top 7px
        background #A1DDFF
        margin auto
        z-index -1
    &:after
        content ""
        position absolute
        left 0
        bottom 7px
        height 1px
        width 100%
        top 0
        background #A1DDFF
        margin auto
        z-index -1
    &__banner
        width 380px
        background c_footer
        padding 110px 100px 60px 100px
        h3
            font-size 45px
            color c_white
            font-family f_lato_b
        .description
            color c_white
            font-family f_lato_r
            font-size 16px
        .btn--banner
            display inline-block
            margin-top 30px

.home_servicios
    .container
        display flex
        margin-top 120px
        justify-content space-between
    &__content
        max-width 470px
        h3
            color c_main
            font-family f_lato_bl
            font-size 36px
    &__list
        margin-top 25px
        &__item:last-child
            border-bottom none
        &__item
            margin-top 35px
            border-bottom 1px solid #E2E3E4
            h4
                font-size 21px
                font-family f_lato_bl
                color c_plomo
                position relative
                padding-bottom 15px
                &:after
                    content ""
                    position absolute
                    left 0
                    bottom 0px
                    width 25px
                    height 2px
                    background #6D6E70
        &__description
            font-family f_lato_r
            font-size 16px
            color c_plomo
            margin 35px 0px
    .btn--servicios
        display inline-block
        margin-top 35px
    &__list_img

        figure

            background-repeat no-repeat

        figure:first-child
            padding 35px 40px 0px 0px
            background-image url("../img/lineas_2.png")
            background-position top right
            margin-left 140px
        figure:last-child
            margin-top -95px

            padding 0px 0px 35px 40px
            background-image url("../img/lineas_2.png")
            background-position bottom left
.home_nuestras_marcas
    padding-top 60px
    background #F7F7F7
    margin-top 60px
    padding-bottom 60px
    .title_block
        p
            font-size 16px
            font-family f_lato_r
            margin 0
            margin-top 20px
            color c_plomo
    &__list
        padding-bottom 10px
        &__item
            figure
                height 70px
                width 135px
                img
                    display block

                    height auto
    .bx-wrapper
        margin auto
        margin-top 70px
        position relative
        .bx-controls-direction
            .bx-prev
                background-image url("../img/flecha_left.png")
                background-size cover
                width 40px
                display block
                height 40px
                position absolute
                left -80px
                top 30%
                transform rotate(180deg)
                transition 0.3s ease all
                &:hover
                    background-image url("../img/flecha_left_hover.png")
            .bx-next
                background-image url("../img/flecha_left.png")
                width 40px
                display block
                height 40px
                position absolute
                right -80px
                top 30%
                transition 0.3s ease all
                background-size cover
                &:hover
                    background-image url("../img/flecha_left_hover.png")
.home_nuestras_noticias
    margin-top 70px
    margin-bottom 55px
    &__list
        display flex
        justify-content center
        &__item:first-child
            border-left 1px solid transparent
        &__item
            text-align center
            width 25%
            padding 0 25px
            border-left 1px solid #E2E3E4
            .fecha
                font-size 14px
                font-family f_roboto_r
            h3
                margin-top 20px
                font-size 18px
                font-family f_roboto_bl
                color #58595B
                position relative
                &:after
                    content ""
                    width 60px
                    height 2px
                    background #8e9093
                    position absolute
                    bottom -15px
                    left 0
                    right 0
                    margin auto
                    background c_plomo
            a
                display inline-block
                margin-top 50px
                color c_celeste
                font-size 16px
                font-family f_roboto_l
                border-bottom 1px solid c_celeste
                &:hover
                    color c_main
                    border-bottom 1px solid c_main
        &__item--blog
            text-align left
            h3
                text-align left
                font-size 36px
                font-family f_lato_bl
                color c_main
                &:after
                    content ""
                    display none
            a

                display inline-block
                margin-top 50px
                color c_celeste
                font-size 16px
                font-family f_roboto_l
                border-bottom 1px solid transparent
                i
                    font-size 20px

                    margin-left 10px
                &:hover
                    border-bottom 1px solid transparent
                    color c_main
@media screen and (max-width 1400px)
    .home_producto_industria
        .bx-wrapper
            max-width 1070px !important
        .producto_industria_slider__item
            width 260px !important
        .producto_industria_slider__img
            img
                width 100%
    .home_productos_destacados
        &__banner
            padding 50px 30px 50px 30px
            margin-right 10px
    .container_slider

        &__list
            &__item
                height 480px
@media screen and (max-width 1200px)
    .home_productos_destacados__banner
        h3
            font-size 34px
        .btn--banner
            font-size 14px
    .home_producto_industria .bx-wrapper
         max-width 790px !important
    .home_productos_destacados__banner
        padding 30px 20px 30px 20px

@media screen and (max-width 960px)
    .home_productos_destacados__banner
        box-sizing border-box
    .home_producto_industria .bx-wrapper
         max-width 535px !important
    .home_productos_destacados
        flex-direction column
        margin-top 20px

        &__banner
            text-align center
            width 100%
            margin 0
            margin-bottom 20px
    .container_slider

        &__list
            &__item
                height 360px
                .container_slider__description
                    .container_slider__title
                        text-shadow 1px 3px 12px #000
@media screen and (max-width 660px)

    .home_producto_industria .bx-wrapper
         max-width 265px !important

@media screen and (max-width 480px)
    .home_productos_destacados__banner h3
        font-size 24px
    .home_producto_industria .producto_industria_slider__item
        width 230px !important
    .home_producto_industria .bx-wrapper
        max-width 230px !important
        .bx-controls-direction
            .bx-next
                width 30px
                height 30px
                right -35px
            .bx-prev
                left -35px
                width 30px
                height 30px

    .container_slider

        &__list
            &__item
                height 360px
                .container_slider__description
                    text-align center
                    .container_slider__title
                        font-size 24px
        .bx-pager
            justify-content center
