.productos
    margin-top 10px
    .container
        display flex

        .container_products
            justify-content flex-end
            flex-wrap wrap
            width calc(100% - 280px)
            box-sizing border-box
            align-items flex-start
            padding-right 0
            position relative
            .flecha_top
                position absolute
                right 0
                bottom 80px
                cursor pointer

                transition .3s ease all
                &:hover
                    bottom 90px
                img
                    display block
                    width 100%
                    height auto
            .product__enlace a
                font-size 13px
            .product__title

                h3
                    font-size 16px
            .product
                width 30%
                box-sizing border-box
                margin 0px 10px 20px 10px
    &__categorias
        &__list
            justify-content space-between
            display flex
            width 100%

            flex-wrap wrap
            a
                width 275px
                margin 0px 8px 10px 8px
                background c_plomo_c
                color c_plomo
                padding 20px 12px
                box-sizing border-box
                display flex
                align-items center
                text-align center
                font-size 18px
                font-family f_lato_b
                transition 0.3s ease all
            a:hover, a.active
                background c_main
                color c_white
        ul
            display flex
            justify-content space-between
            flex-wrap wrap
            li.active
                background c_main
                a
                    color c_white
            li:hover
                background c_main
                a
                    color c_white
            li
                width 23%
                margin 0
                display flex
                align-items center
                margin-bottom 10px
                background c_plomo_c
                box-sizing border-box

                a
                    padding 20px 15px
                    box-sizing border-box
                    display inline-block
                    color c_plomo
                    font-size 18px
                    font-family f_lato_b
                    width 100%
                    height 100%
                    text-align center
                    transition .3s ease all

    &__cnt_subcategoria_productos
        margin-top 30px
        padding-top 20px
    &__cnt_subcategoria
        width 280px
        margin-right 20px
        h3
            color c_main
            font-size 20px
            padding-bottom 8px
            font-family f_lato_bl
            position relative
            &:after
                content ""
                width 40px
                position absolute
                left 0
                bottom 0
                height 2px
                background-color c_main
    &__subcategoria
        ul
            li
                a.active
                    border-bottom 1px solid c_main
                    color c_main
                a
                    display inline-block
                    font-size 16px
                    font-family f_lato_r
                    color c_plomo
                    transition .3s ease all
                    border-bottom 1px solid c_plomo
                    padding-top 20px
                    padding-bottom 20px
                    width 100%
                    transition .3s ease all
                    &:hover
                        border-bottom 1px solid c_main
                        color c_main
@media screen and (max-width 1200px)
    .productos .container .container_products
        padding-right 28px
    .productos .container .container_products .flecha_top
        width 40px
@media screen and (max-width 960px)
    .productos .container .container_products
        padding-right 0
        padding-bottom 40px
        margin-bottom 20px
        .flecha_top
            bottom 0
            left 0
            right 0
            margin auto
            &:hover
                bottom 10px
    .productos__categorias
        &__list
            a
                min-height 76px
@media screen and (max-width 768px)
    .productos__categorias
        &__list
            a
                width 30%
                font-size 16px

@media screen and (max-width 480px)
    .productos__categorias
        &__list
            flex-wrap wrap
            a
                width 48%
