.productos
    margin-top 10px
    .container
        display flex
        .container_products
            justify-content flex-start
            flex-wrap wrap
            width calc(100% - 280px)
            position relative
            .flecha_top
                position absolute
                right 0
                bottom 80px
                cursor pointer
                transition .3s ease all
                &:hover
                    bottom 90px
            .product__enlace a
                font-size 13px
            .product__title
                margin-top 10px
                h3
                    font-size 16px
            .product
                width 30%
                box-sizing border-box
                margin 0px 10px 20px 10px
    &__categorias
        ul
            display flex
            justify-content space-between
            flex-wrap wrap
            li
                width 23%
                margin-bottom 10px
                a.active
                    color c_white
                    background c_main
                a
                    display inline-block
                    background c_plomo_c
                    color c_plomo
                    font-size 20px
                    font-family f_lato_b
                    padding 20px 20px
                    width 100%
                    text-align center
                    box-sizing border-box
                    transition .3s ease all
                    &:hover
                        color c_white
                        background c_main
    &__cnt_subcategoria_productos
        margin-top 30px
        padding-top 20px
    &__cnt_subcategoria
        width 280px
        margin-right 20px
        h3
            color c_main
            font-size 22px
            padding-bottom 8px
            font-family f_lato_bl
            position relative
            &:after
                content ""
                width 40px
                position absolute
                left 0
                bottom 0
                height 2px
                background-color c_main
    &__subcategoria
        ul
            li
                a.active
                    border-bottom 1px solid c_main
                    color c_main
                a
                    display inline-block
                    font-size 18PX
                    font-family f_lato_r
                    color c_plomo
                    transition .3s ease all
                    border-bottom 1px solid c_plomo
                    padding-top 20px
                    padding-bottom 20px
                    width 100%
                    transition .3s ease all
                    &:hover
                        border-bottom 1px solid c_main
                        color c_main
