<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
{% block css %}

{% endblock css %}
</head>
<body class="{% block classbody %}{% endblock %}">
	<div class="wrapper">
		{% include "./header.html" %}
		<div class="page">
			{% block content %}

			{% endblock content %}

		</div>
		{% include "./footer.html" %}
	</div>
	<script src="{{STATIC_URL}}js/jquery1.8.3.min.js"></script>
	<script src="{{STATIC_URL}}js/main.js"></script>
	<script>
	jQuery(document).ready(function($) {

	});
	</script>
	{% block js %}

	{% endblock js %}
</body>
</html>
