<footer class="footer">
	<div class="footer__top">
		<div class="container footer__top__list">

			<div class="footer__item footer__datos">
				<h3 class="footer__top__title footer__datos__title">
					ZURICH PERÚ VALVES
				</h3>
				<div class="footer__datos__description">
					<p>Centro Empresarial El Pinar ll,
					Av.Del Pinar 134 Of. 601</p>
					<p>Chacarilla, Surco - Lima</p>
				</div>
				<h4 class="footer__datos__title_redes">
					CONÉCTATE CON NOSOTROS
				</h4>
				<ul class="footer__datos__list_redes">
					<li>
						<a href="" class="icon-facebook"></a>
					</li>
					<li>
						<a href="" class="icon-twitter"></a>
					</li>
					<li>
						<a href="" class="icon-linkedin2"></a>
					</li>
				</ul>

			</div>
			<div class="footer__top__item footer__contact">
				<h3 class="footer__top__title">
					CONTÁCTANOS
				</h3>
			</div>
			<div class="footer__top__item footer__cel">
				<h3 class="footer__top__title">
					TELÉFONOS
				</h3>
			</div>
			<div class="footer__top__item footer__links">
				<ul>
					<li>
						<a href="">NOSOTROS</a>
					</li>
					<li>
						<a href="">PRODUCTOS</a>
					</li>
					<li>
						<a href="">SERVICIOS</a>
					</li>
					<li>
						<a href="">CONTACTO</a>
					</li>
					<li>
						<a href="">BLOG</a>
					</li>
					<li>
						<a href="">VÁLVULA KUL</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__bottom">

	</div>
</footer>
