<header class="header">
	<div class="overlay"></div>
	<div class="header__icons">
		<a href="" class="header__icons__open header__icons__icon icon-menu"></a>
		<a href="" class="header__icons__close header__icons__icon icon-cross"></a>
	</div>
	<div class="container header__container" >
		<a href="home.html" class="header__logo">
			<img src="{{STATIC_URL}}img/logo.png" width="333" height="51">
		</a>
		<nav class="header__menu header__menu--responsive ">
			<ul>
				<li>
					<a href="nosotros.html">
						Nosotros
					</a>
				</li>
				<li>
					<a href="productos.html">
						Productos
					</a>
				</li>
				<li>
					<a href="servicios.html">
						Servicios
					</a>
				</li>
				<li>
					<a href="contacto.html">
						Contacto
					</a>
				</li>
				<li>
					<a href="">
						Blog
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
