{% extends "../common/base.html" %}
{% block content %}
<section class="pag-404">
	<div class="container">
		<div class="text-gracias">
			<h3>
				Gracias, nos comunicaremos
				contigo a la brevedad.
			</h3>
			<p>Continúa navegando o conoce nuestros productos</p>
			<a href="" class="btn btn--main">VER PRODUCTOS</a>
		</div>
		<div class="image">
			<figure>
				<img src="{{STATIC_URL}}img/persona.png" alt="">
			</figure>
		</div>
	</div>
</section>
{% endblock content %}
{% block js %}
{% endblock js %}
