{% extends "../common/base.html" %}
{% block content %}


<section class="container_slider">
	<div class="container_slider__list">
		<div class="container_slider__list__item" style="background-image:url('{{STATIC_URL}}img/banner.png')">
			<div class="container">
				<div class="container_slider__description">
					<h2 class="container_slider__title title_banner">
						Líderes en la industria de válvulas de control.
					</h2>
					<a href="" class="btn btn--main container_slider__btn">
						CONÓCENOS
					</a>
				</div>

			</div>
		</div>
		<div class="container_slider__list__item" style="background-image:url('{{STATIC_URL}}img/banner.png')">
			<div class="container">
				<div class="container_slider__description">
					<h2 class="container_slider__title title_banner">
						Líderes en la industria de válvulas de control.
					</h2>
					<a href="" class="btn btn--main container_slider__btn">
						CONÓCENOS
					</a>
				</div>

			</div>
		</div>
		<div class="container_slider__list__item" style="background-image:url('{{STATIC_URL}}img/banner_solo.png')">
			<div class="container">
				<div class="container_slider__description">
					<h2 class="container_slider__title title_banner">
						Líderes en la industria de válvulas de control.
					</h2>
					<a href="" class="btn btn--main container_slider__btn">
						CONÓCENOS
					</a>
				</div>

			</div>
		</div>


	</div>
</section>
<section class="home_producto_industria">
	<div class="container">
		<div class="title_block">
			<h2>Productos para tu industria</h2>
		</div>
		<div class="producto_industria_slider">


			<a href="productos_detalle.html" class="producto_industria_slider__item  ">
				<div class="producto_industria_slider__cnt_img ">
					<div class="producto_industria_slider__img">
						<img src="{{STATIC_URL}}img/slider_3.png" width="282" height="282" alt="">
						<div class="capa">

						</div>
						<h4 class="title_industria">Petróleo y gas</h4>
						<div class="capa--hover">


								<div class="img__hover" style="background-image:url({{STATIC_URL}}img/herramienta.png)">

								</div>
								<h4 class="title_industria__hover">Petróleo y gas</h4>
								<div class="title_industria__border">

								</div>
						</div>
					</div>

				</div>
			</a>
			<a href="productos_detalle.html" class="producto_industria_slider__item  ">
				<div class="producto_industria_slider__cnt_img producto_industria_slider__cnt_img--bottom">
					<div class="producto_industria_slider__img">
						<img src="{{STATIC_URL}}img/slider.png" width="282" height="282" alt="">
						<div class="capa">

						</div>
						<h4 class="title_industria">Petróleo y gas</h4>
						<div class="capa--hover">


								<div class="img__hover" style="background-image:url({{STATIC_URL}}img/herramienta.png)">

								</div>
								<h4 class="title_industria__hover">Petróleo y gas</h4>
								<div class="title_industria__border">

								</div>
						</div>
					</div>

				</div>
			</a>
			<a href="productos_detalle.html" class="producto_industria_slider__item  ">
				<div class="producto_industria_slider__cnt_img ">
					<div class="producto_industria_slider__img">
						<img src="{{STATIC_URL}}img/slider_2.png" width="282" height="282" alt="">
						<div class="capa">

						</div>
						<h4 class="title_industria">Petróleo y gas</h4>
						<div class="capa--hover">


								<div class="img__hover" style="background-image:url({{STATIC_URL}}img/herramienta.png)">

								</div>
								<h4 class="title_industria__hover">Petróleo y gas</h4>
								<div class="title_industria__border">

								</div>
						</div>
					</div>

				</div>
			</a>
			<a href="productos.html" class="producto_industria_slider__item  ">
				<div class="producto_industria_slider__cnt_img producto_industria_slider__cnt_img--bottom">
					<div class="producto_industria_slider__img">
						<img src="{{STATIC_URL}}img/slider_3.png" width="282" height="282" alt="">
						<div class="capa">

						</div>
						<h4 class="title_industria">Petróleo y gas</h4>
						<div class="capa--hover">


								<div class="img__hover" style="background-image:url({{STATIC_URL}}img/herramienta.png)">

								</div>
								<h4 class="title_industria__hover">Petróleo y gas</h4>
								<div class="title_industria__border">

								</div>
						</div>
					</div>

				</div>
			</a>

		</div>
	</div>
</section>
<section class="home_productos_destacados">
	<div class="home_productos_destacados__banner">
		<h3>Productos Destacados</h3>
		<div class="description">Productos destacados en las industrias de minería, eléctrica, química, petrolera, entre otras.</div>
		<a href="productos.html" class="btn btn--main btn--banner">
			VER MÁS PRODUCTOS
		</a>
	</div>
	<div class="container_products">

		<a href="productos_detalle.html" class="product product--home">
	        <div class="product__title">
	            <h3>
	                P200 Series Positioners

	            </h3>
	        </div>
	        <figure class="product__img">
	            <img src="{{STATIC_URL}}img/producto.png" alt="">
	        </figure>
	        <div class="product__enlace">
	            <div class="ver_mas">VER PRODUCTO <i class="icon-angle-double-right"></i></div>
	        </div>
	    </a>
	    <a href="productos_detalle.html" class="product product--home">
	        <div class="product__title">
	            <h3>
	                P200 Series Positioners

	            </h3>
	        </div>
	        <figure class="product__img">
	            <img src="{{STATIC_URL}}img/producto.png" alt="">
	        </figure>
	        <div class="product__enlace">
	            <div class="ver_mas">VER PRODUCTO <i class="icon-angle-double-right"></i></div>
	        </div>
	    </a>
	    <a href="productos_detalle.html" class="product product--home">
	        <div class="product__title">
	            <h3>
	                P200 Series Positioners

	            </h3>
	        </div>
	        <figure class="product__img">
	            <img src="{{STATIC_URL}}img/producto.png" alt="">
	        </figure>
	        <div class="product__enlace">
	            <div class="ver_mas">VER PRODUCTO <i class="icon-angle-double-right"></i></div>
	        </div>
	    </a>

	</div>
</section>
<section class="home_servicios">
	<div class="container container--text">
		<div class="home_servicios__content">
			<h3>Servicios que brindan soluciones</h3>
			<div class="home_servicios__list">
				<div class="home_servicios__list__item">
					<h4>
						Servicios
					</h4>
					<div class="home_servicios__list__description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis aliquid ab eveniet quasi facere atque iste dicta repellat eos repellendus odio velit dignissimos quibusdam minus, voluptas consectetur voluptatum omnis porro.
					</div>
				</div>
				<div class="home_servicios__list__item">
					<h4>
						SERVICIOS EN TERRENO
					</h4>
					<div class="home_servicios__list__description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis aliquid ab eveniet quasi facere atque iste dicta repellat eos repellendus odio velit dignissimos quibusdam minus, voluptas consectetur voluptatum omnis porro.
					</div>
				</div>
				<div class="home_servicios__list__item">
					<h4>
						Servicios
					</h4>
					<div class="home_servicios__list__description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis aliquid ab eveniet quasi facere atque iste dicta repellat eos repellendus odio velit dignissimos quibusdam minus, voluptas consectetur voluptatum omnis porro.
					</div>
				</div>
			</div>
			<a href="servicios.html" class="btn btn--servicios btn--main">NUESTROS SERVICIOS</a>
		</div>
		<div class="home_servicios__list_img">
			<figure>
				<img src="{{STATIC_URL}}img/servicios_4.png" width="470" height="400" alt="">
			</figure>
			<figure>
				<img src="{{STATIC_URL}}img/servicios_3.png" width="470" height="400" alt="">
			</figure>
		</div>

	</div>
</section>
<section class="home_nuestras_marcas">
	<div class="container">
		<div class="title_block">
			<h2>Nuestras Marcas</h2>
			<p>En Zurich asumimos el compromiso de brindar soluciones de forma eficiente.</p>
		</div>
		<div class="home_nuestras_marcas__list">
			{% for serv in "6"|range %}

			<div class="home_nuestras_marcas__list__item">
				<figure>
					<img  width="135" height="70" src="{{STATIC_URL}}img/marca_1.png" alt="">
				</figure>
			</div>
			{% endfor %}

		</div>
	</div>
</section>
<section class="home_nuestras_noticias">
	<div class="container">
		<div class="home_nuestras_noticias__list">
			<div class="home_nuestras_noticias__list__item home_nuestras_noticias__list__item--blog">
				<h3>Nuestras Noticias</h3>
				<a href="">VER BLOG <i class="icon-angle-double-right"></i></a>
			</div>
			<div class="home_nuestras_noticias__list__item ">
				<div class="fecha">
					27 Feb. 2017
				</div>
				<h3>LA VÁVULA KUL,
					GANADORA DE UN PREMIO
					POR SU FUNCIONALIDAD</h3>
				<a href="">Ver más </a>
			</div>
			<div class="home_nuestras_noticias__list__item ">
				<div class="fecha">
					27 Feb. 2017
				</div>
				<h3>LA VÁVULA KUL,
					GANADORA DE UN PREMIO
					POR SU FUNCIONALIDAD</h3>
				<a href="">Ver más </a>
			</div>
			<div class="home_nuestras_noticias__list__item ">
				<div class="fecha">
					27 Feb. 2017
				</div>
				<h3>LA VÁVULA KUL,
					GANADORA DE UN PREMIO
					POR SU FUNCIONALIDAD</h3>
				<a href="">Ver más </a>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
{% block js %}
	<script src="{{STATIC_URL}}js/jquery.bxslider.min.js"></script>
	<script>

		$(document).ready(function(){


			$('.container_slider__list').bxSlider({
				mode: 'fade',
				adaptiveHeight: true,
				auto: true,
				pause: '500',
				pager: true,
				controls: false,


				onSliderLoad: function(currentIndex) {
						$('.container_slider__list').children().eq(currentIndex).addClass('active');

					},
					onSlideBefore: function($slideElement){
					  setTimeout( function(){

						  $slideElement.addClass('active');

					  },500);
					  $('.container_slider__list').children().removeClass('active');

					}
			});

			$('.producto_industria_slider').bxSlider({
				adaptiveHeight: true,
				pager: false,
				controls: true,
				slideWidth: 286,
				moveSlides: 1,
				nextText: '',
				prevText: '',
				responsive: true,
			    minSlides: 1,
			    maxSlides: 4,
			    slideMargin: 8,
				onSliderLoad: function(currentIndex) {
						$('.producto_industria_slider').children().eq(currentIndex).addClass('active');

					},
					onSlideBefore: function($slideElement){
					  setTimeout( function(){

						  $slideElement.addClass('active');

					  },500);
					  $('.producto_industria_slider').children().removeClass('active');

					}
			});
			$('.home_nuestras_marcas__list').bxSlider({
				adaptiveHeight: true,
				pager: false,
				controls: true,
				slideWidth: 135,
				moveSlides: 1,
				nextText: '',
				prevText: '',
			    minSlides: 1,
			    maxSlides: 4,
			    slideMargin: 60,

			});
		});

	</script>

{% endblock js %}
