{% extends "../common/base.html" %}
{% block content %}

<section class="" id="container_banner" style="background-image:url('{{STATIC_URL}}img/FOTO_PRINCIPAL.png')">
	<div class="capa"></div>
	<div class="container">
		<h2>
			Productos de
			larga durabilidiad
		</h2>
	</div>
</section>
<section class="productos">
	<div class="productos__categorias">
		<div class="container">

			<ul>
				<li><a href="" class="active">Minería</a></li>
				<li><a href="">Agua potable y residual</a></li>
				<li><a href="">Alimentos y bebidas</a></li>
				<li><a href="">Agua potable y residual</a></li>
				<li><a href="">Petróleo y gas</a></li>
				<li><a href="">Minería</a></li>
				<li><a href="">Petróleo y gas</a></li>
				<li><a href="">Otras industrias</a></li>
			</ul>
		</div>
	</div>
	<div class="productos__cnt_subcategoria_productos" id="cnt_products">
		<div class="container">
			<div class="productos__cnt_subcategoria">
				<h3>
					Agua potable y residual
				</h3>
				<div class="productos__subcategoria">
					<ul>
						<li>
							<a href="">Accesorios</a></li>
						<li>
							<a href="">Actuadores</a></li>
						<li>
							<a href="">Transmisores de consistencia</a></li>
						<li>
							<a href="">Válvulas de compuerta</a></li>
						<li>
							<a href="">Válvulas de control rotatorio</a></li>
						<li>
							<a href="">Válvulas de cuchilla</a>
						</li>
						<li>
							<a href="">Válvulas de globo</a>
						</li>
						<li>
							<a href="">Válvulas de tapón</a>
						</li>
					</ul>
				</div>

			</div>
			<div class="container_products">
					<a href="#cnt_products" class="flecha_top">
						<img src="{{STATIC_URL}}img/flecha_top.png" alt="">
					</a>
					{% for x in "28"|range %}


					<div class="product">
						<div class="product__title">
							<h3>
								P200 Series Positioners
								Positioners Series P200
							</h3>
						</div>
						<figure class="product__img">
							<img src="{{STATIC_URL}}img/producto.png" alt="">
						</figure>
						<div class="product__enlace">
							<a href="">VER PRODUCTO <i class="icon-angle-double-right"></i></a>
						</div>
					</div>
					{% endfor %}

			</div>

		</div>

	</div>
</section>
{% endblock content %}
{% block js %}
<script>
        $(document).ready(function(){

            /**
             * This part does the "fixed navigation after scroll" functionality
             * We use the jQuery function scroll() to recalculate our variables as the
             * page is scrolled/
             */
            $(window).scroll(function(){
                var window_top = $(window).scrollTop() - 32; // the "12" should equal the margin-top value for nav.stick
                // var div_top = $('#nav-anchor').offset().top;
                //     if (window_top > div_top) {
                //         $('nav').addClass('stick');
                //     } else {
                //         $('nav').removeClass('stick');
                //     }
            });

            /**
             * This part causes smooth scrolling using scrollto.js
             * We target all a tags inside the nav, and apply the scrollto.js to it.
             */
            $(".flecha_top").click(function(evn){
                evn.preventDefault();

                $('html,body').scrollTo(this.hash, this.hash);
            });

            /**
             * This part handles the highlighting functionality.
             * We use the scroll functionality again, some array creation and
             * manipulation, class adding and class removing, and conditional testing
             */


            $(window).scroll(function(){
                var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
                var windowHeight = $(window).height(); // get the height of the window
                var docHeight = $(document).height();




            });
        });
        $.scrollTo = $.fn.scrollTo = function(x, y, options){
            if (!(this instanceof $)) return $.fn.scrollTo.apply($('html, body'), arguments);
            console.log(x);
            console.log(y);
            options = $.extend({}, {
                gap: {
                    x: 0,
                    y: 0
                },
                animation: {
                    easing: 'swing',
                    duration: 1000,
                    complete: $.noop,
                    step: $.noop
                }
            }, options);

            return this.each(function(){
                var elem = $(this);
                elem.stop().animate({
                    scrollLeft: !isNaN(Number(x)) ? x : $(y).offset().left + options.gap.x,
                    scrollTop: !isNaN(Number(y)) ? y : $(y).offset().top  + options.gap.y
                }, options.animation);
            });
        };
</script>
{% endblock js %}
