{% extends "../common/base.html" %}
{% block css %}

{% endblock css %}
{% block content %}

<section  id="container_banner" class="container_banner--large" style="background-image:url('{{STATIC_URL}}img/FOTO_PRINCIPAL.png')">
	<div class="capa"></div>
	<div class="container">
		<h2>
			Servicios que
			brindan soluciones
		</h2>
		<div class="description">
			En Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas en los mercados del rubro de la minería, celulosa, petroquímica y tratamientos de agua, labor que hasta ahora se ha cumplido afanosamente, teniendo en cuenta como objetivo principal, ofrecer un servicio integral, comprometido y responsable hacia nuestros clientes.
		</div>
	</div>
</section>
{% endblock content %}
{% block js %}

{% endblock js %}
