{% extends "../common/base.html" %}
{% block css %}

{% endblock css %}
{% block content %}

<section  id="container_banner" class="container_banner--large" style="background-image:url('{{STATIC_URL}}img/FOTO_PRINCIPAL.png')">
	<div class="capa"></div>
	<div class="container container--text">
		<h2>
			Servicios que
			brindan soluciones
		</h2>
		<div class="description">
			En Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas en los mercados del rubro de la minería, celulosa, petroquímica y tratamientos de agua, labor que hasta ahora se ha cumplido afanosamente, teniendo en cuenta como objetivo principal, ofrecer un servicio integral, comprometido y responsable hacia nuestros clientes.
		</div>
	</div>
</section>
<section class="servicios">
	<div class="servicios__cnt_title_tabs">
		<div class="tab tab-active" data-tab="#tab_1">
			<div class="flecha"></div>
			<span class="icon-S1"></span>
			<h3>Servicios de mantenimiento integral</h3>
		</div>
		<div class="tab" data-tab="#tab_2">
			<div class="flecha"></div>
			<span class="icon-S2"></span>
			<h3>Servicio en terreno</h3>
		</div>
		<div class="tab" data-tab="#tab_3">
			<div class="flecha"></div>
			<span class="icon-S32"></span>

			<h3>Inducción y capacitación</h3>
		</div>
	</div>
	<div class="servicios__cnt_tabs">
		<div class="container container--text">
			<div class=" content_tab content_tab--active tab_1" id="tab_1">
				<div class="home_servicios__content servicios_tab_content">
					<h3>Servicios de mantenimiento integral para plantas industriales</h3>

					<div class="home_servicios__list__description servicios_tab_content__description">
						<ul>
							<li>Proyectos integrales de ingeniería de mantenimiento industrial.</li>
							<li>Capacitaciones en mantenimiento industrial.</li>
							<li>Mantenimiento industrial a plantas y equipos industriales.</li>
							<li>Servicio en terreno o nuestras instalaciones.</li>
							<li>ervicios de maestranza.</li>
						</ul>
					</div>

				</div>
				<div class="home_servicios__list_img servicios_tab_img">
					<figure>
						<img class="img_res" src="{{STATIC_URL}}img/servicio_1.jpg" width="470" height="400" alt="">
					</figure>

				</div>
			</div>
			<div class="content_tab content_tab_2 tab_2" id="tab_2">
				<div class="home_servicios__content servicios_tab_content">
					<h3>Servicio en terreno</h3>
				</div>
				<div class="servicios_tab_content__list ">
					<div class="servicios_tab_content__list__item ">
						<div class="servicios__list__item__content">
							<h4>INSPECCIÓN EN PLANTA</h4>
							<div class="servicios_tab_content__description">
							En Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas  en Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas En Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas  en Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas .
							</div>
						</div>
						<div class="home_servicios__list_img servicios_tab_img servicios_tab_img--2">
							<figure>
								<img class="img_res" src="{{STATIC_URL}}img/servicio_1.jpg" width="470" height="400" alt="">
							</figure>

						</div>
					</div>
					<div class="servicios_tab_content__list__item servicios_tab_content__list__item--left">
						<div class="servicios__list__item__content">
							<h4>INSPECCIÓN EN PLANTA</h4>
							<div class="servicios_tab_content__description">
							En Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas  en Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas En Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas  en Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas .
							</div>
						</div>
						<div class="home_servicios__list_img servicios_tab_img--2 servicios_tab_img--left">
							<figure>
								<img class="img_res" src="{{STATIC_URL}}img/servicio_1.jpg" width="470" height="400" alt="">
							</figure>

						</div>
					</div>

				</div>
			</div>
			<div class="content_tab content_tab_2 tab_2" id="tab_3">
				<div class="home_servicios__content servicios_tab_content">
					<h3>Servicio en terreno</h3>
				</div>
				<div class="servicios_tab_content__list ">
					<div class="servicios_tab_content__list__item ">
						<div class="servicios__list__item__content">
							<h4>INSPECCIÓN EN PLANTA</h4>
							<div class="servicios_tab_content__description">
							En Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas  en Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas En Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas  en Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas .
							</div>
						</div>
						<div class="home_servicios__list_img servicios_tab_img servicios_tab_img--2">
							<figure>
								<img class="img_res" src="{{STATIC_URL}}img/servicio_1.jpg" width="470" height="400" alt="">
							</figure>

						</div>
					</div>
					<div class="servicios_tab_content__list__item servicios_tab_content__list__item--left">
						<div class="servicios__list__item__content">
							<h4>INSPECCIÓN EN PLANTA</h4>
							<div class="servicios_tab_content__description">
							En Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas  en Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas En Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas  en Septiembre de 2013, Zurich Perú Valves se creó con el fin de satisfacer la demanda de válvulas .
							</div>
						</div>
						<div class="home_servicios__list_img servicios_tab_img--2 servicios_tab_img--left">
							<figure>
								<img class="img_res" src="{{STATIC_URL}}img/servicio_1.jpg" width="470" height="400" alt="">
							</figure>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
{% block js %}
<script>
	jQuery(document).ready(function($) {
		$(".tab").click(function(event) {
			/* Act on the event */
			var tab = $(this).data("tab")
			$(".content_tab").removeClass('content_tab--active')
			$(".tab").removeClass('tab-active')
			$(this).addClass('tab-active')
			$(tab).addClass('content_tab--active')
		});
	});
</script>
{% endblock js %}
