.contacto .container {
  display: flex;
}
.contacto__datos_img {
  width: 40%;
  position: relative;
  margin-right: 50px;
  margin-top: -50px;
  z-index: 140;
}
.contacto__datos {
  background: c_main;
  padding: 60px;
}
.contacto__datos h3 {
  color: c_white;
  font-family: f_lato_bl;
  font-size: 24px;
  margin: 0px;
  text-align: center;
}
.contacto__datos ul {
  margin-top: 30px;
}
.contacto__datos ul li,
.contacto__datos ul a {
  font-size: 16px;
  font-family: f_roboto_r;
  color: c_white;
}
.contacto__cnt_formulario {
  margin-top: 50px;
  width: 60%;
}
.contacto__cnt_formulario h3 {
  text-align: center;
  font-size: 24px;
  font-family: f_lato_bl;
  color: c_main;
}
.contacto__cnt_formulario form {
  overflow: hidden;
  margin-top: 30px;
  max-width: 400px;
  margin-left: 0;
}
.contacto__cnt_formulario form .btn--contacto {
  padding: 10px 35px;
  text-align: right;
  float: right;
}
.contacto__cnt_formulario form .cnt-input {
  display: flex;
}
.contacto__cnt_formulario form .cnt-input .input:first-child {
  margin-left: 0;
}
.contacto__cnt_formulario form .cnt-input .input {
  width: 50%;
  margin: 7px 5px;
}
.contacto__cnt_formulario form .cnt-input .input input,
.contacto__cnt_formulario form .cnt-input .input select,
.contacto__cnt_formulario form .cnt-input .input textarea {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #d5d5d5;
  color: c_plomo;
  border-radius: 8px;
  font-family: f_lato_r;
  font-size: 14px;
}
.contacto__cnt_formulario form .cnt-input .input textarea {
  width: 100%;
  height: 100px;
}
.contacto__cnt_formulario form .cnt-input .input--area {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .container--small {
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .contacto__datos {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .contacto__datos h3 {
    width: 100%;
    margin-bottom: 20px;
  }
  .contacto__datos ul {
    margin: 0;
    margin-bottom: 10px;
    max-width: 300px;
  }
  .contacto__datos_img {
    margin-top: 0px;
    margin-right: 0;
    width: 100%;
  }
  .contacto__datos_img figure {
    display: none;
  }
  .contacto__cnt_formulario {
    width: 100%;
  }
  .contacto__cnt_formulario form {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .contacto__cnt_formulario form .cnt-input {
    flex-wrap: wrap;
  }
  .contacto__cnt_formulario form .cnt-input .input {
    width: 100%;
    margin: 5px 0px;
  }
}
