/*Page HOME*/
.container_slider {
  width: 100%;
}
.container_slider__list__item {
  z-index: 1000;
  height: 560px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}
.container_slider__list__item .capa {
  background: rgba(0,0,0,0.5);
}
.container_slider__list__item .container {
  display: flex !important;
  align-items: center;
  height: 100%;
}
.container_slider__list__item .container_slider__description {
  max-width: 420px;
  transform: translateY(50);
  transition: all 0.6s cubic-bezier(0.68, -0.45, 0.165, 1.35);
  opacity: 0;
  margin-top: 20px;
}
.container_slider__list__item .container_slider__description .container_slider__title {
  font-family: f_lato_b;
  font-size: 36px;
  color: c_white;
}
.container_slider__list__item.active .container_slider__description {
  opacity: 1;
  margin-top: 0;
  transform: translateY(0) !important;
}
.container_slider__btn {
  margin-top: 40px;
  display: inline-block;
}
.container_slider .bx-wrapper {
  position: relative;
}
.container_slider .bx-pager {
  display: flex;
}
.container_slider .bx-has-pager {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  max-width: 1200px;
  width: 96%;
  margin: auto;
  bottom: 20px;
}
.container_slider .bx-pager-item {
  margin: 0px 3px;
}
.container_slider .bx-wrapper .bx-pager.bx-default-pager a {
  position: relative;
  text-indent: -99999px;
  outline: 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 2px 0px;
  background: c_white;
}
.container_slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: c_celeste_o !important;
}
.home_producto_industria {
  margin-top: 50px;
}
.home_producto_industria .title_block {
  margin-bottom: 50px;
}
.home_producto_industria .producto_industria_slider__cnt_img--bottom {
  margin-top: 40px;
}
.home_producto_industria .producto_industria_slider__img {
  position: relative;
  display: block;
}
.home_producto_industria .producto_industria_slider__img img {
  display: block;
}
.home_producto_industria .producto_industria_slider .capa {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/capa.png");
  z-index: 10;
  width: 100%;
  height: 100%;
}
.home_producto_industria .producto_industria_slider__item {
  cursor: pointer;
}
.home_producto_industria .producto_industria_slider__item .capa--hover {
  transition: 0.7s ease all;
  transform: scale(0);
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_producto_industria .producto_industria_slider__item .capa--hover .d-flex {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home_producto_industria .producto_industria_slider__item .capa--hover .img__hover {
  width: 47px;
  height: 40px;
  background-size: cover;
}
.home_producto_industria .producto_industria_slider__item .capa--hover h4.title_industria__hover {
  font-family: f_lato_b;
  font-size: 19px;
  margin: auto;
  color: c_white;
  text-align: center;
  margin: 5px 10px 0px 10px;
  z-index: 1000;
}
.home_producto_industria .producto_industria_slider__item .capa--hover .title_industria__border {
  content: "";
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 0;
  margin-top: 8px;
}
.home_producto_industria .producto_industria_slider__item h4.title_industria {
  font-family: f_lato_b;
  font-size: 19px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  color: c_white;
  text-align: center;
  margin: 0px 10px;
  z-index: 20;
  transition: 0.4s ease all;
}
.home_producto_industria .producto_industria_slider__item:hover h4.title_industria {
  opacity: 0;
}
.home_producto_industria .producto_industria_slider__item:hover .capa--hover {
  transform: scale(1);
  background: rgba(47,87,201,0.6);
  z-index: 20;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.home_producto_industria .bx-wrapper {
  margin: auto;
  position: relative;
}
.home_producto_industria .bx-wrapper .bx-controls-direction .bx-prev {
  background-image: url("../img/flecha_left.png");
  background-size: cover;
  width: 40px;
  display: block;
  height: 40px;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: rotate(180deg);
  transition: 0.3s ease all;
}
.home_producto_industria .bx-wrapper .bx-controls-direction .bx-prev:hover {
  background-image: url("../img/flecha_left_hover.png");
}
.home_producto_industria .bx-wrapper .bx-controls-direction .bx-next {
  background-image: url("../img/flecha_left.png");
  width: 40px;
  display: block;
  height: 40px;
  position: absolute;
  right: -50px;
  top: 50%;
  transition: 0.3s ease all;
  background-size: cover;
}
.home_producto_industria .bx-wrapper .bx-controls-direction .bx-next:hover {
  background-image: url("../img/flecha_left_hover.png");
}
.home_productos_destacados {
  display: flex;
  margin-top: 80px;
  max-width: 2600px;
  position: relative;
}
.home_productos_destacados:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 1px;
  width: 100%;
  top: 7px;
  background: #a1ddff;
  margin: auto;
  z-index: -1;
}
.home_productos_destacados:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  height: 1px;
  width: 100%;
  top: 0;
  background: #a1ddff;
  margin: auto;
  z-index: -1;
}
.home_productos_destacados__banner {
  width: 380px;
  background: c_footer;
  padding: 110px 100px 60px 100px;
}
.home_productos_destacados__banner h3 {
  font-size: 45px;
  color: c_white;
  font-family: f_lato_b;
}
.home_productos_destacados__banner .description {
  color: c_white;
  font-family: f_lato_r;
  font-size: 16px;
}
.home_productos_destacados__banner .btn--banner {
  display: inline-block;
  margin-top: 30px;
}
.home_servicios .container {
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
}
.home_servicios__content {
  max-width: 470px;
}
.home_servicios__content h3 {
  color: c_main;
  font-family: f_lato_bl;
  font-size: 36px;
}
.home_servicios__list {
  margin-top: 25px;
}
.home_servicios__list__item:last-child {
  border-bottom: none;
}
.home_servicios__list__item {
  margin-top: 35px;
  border-bottom: 1px solid #e2e3e4;
}
.home_servicios__list__item h4 {
  font-size: 21px;
  font-family: f_lato_bl;
  color: c_plomo;
  position: relative;
  padding-bottom: 15px;
}
.home_servicios__list__item h4:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 25px;
  height: 2px;
  background: #6d6e70;
}
.home_servicios__list__description {
  font-family: f_lato_r;
  font-size: 16px;
  color: c_plomo;
  margin: 35px 0px;
}
.home_servicios .btn--servicios {
  display: inline-block;
  margin-top: 35px;
}
.home_servicios__list_img figure {
  background-repeat: no-repeat;
}
.home_servicios__list_img figure:first-child {
  padding: 35px 40px 0px 0px;
  background-image: url("../img/lineas_2.png");
  background-position: top right;
  margin-left: 140px;
}
.home_servicios__list_img figure:last-child {
  margin-top: -95px;
  padding: 0px 0px 35px 40px;
  background-image: url("../img/lineas_2.png");
  background-position: bottom left;
}
.home_nuestras_marcas {
  padding-top: 60px;
  background: #f7f7f7;
  margin-top: 60px;
  padding-bottom: 60px;
}
.home_nuestras_marcas .title_block p {
  font-size: 16px;
  font-family: f_lato_r;
  margin: 0;
  margin-top: 20px;
  color: c_plomo;
}
.home_nuestras_marcas__list {
  padding-bottom: 10px;
}
.home_nuestras_marcas__list__item figure {
  height: 70px;
  width: 135px;
}
.home_nuestras_marcas__list__item figure img {
  display: block;
  height: auto;
}
.home_nuestras_marcas .bx-wrapper {
  margin: auto;
  margin-top: 70px;
  position: relative;
}
.home_nuestras_marcas .bx-wrapper .bx-controls-direction .bx-prev {
  background-image: url("../img/flecha_left.png");
  background-size: cover;
  width: 40px;
  display: block;
  height: 40px;
  position: absolute;
  left: -80px;
  top: 30%;
  transform: rotate(180deg);
  transition: 0.3s ease all;
}
.home_nuestras_marcas .bx-wrapper .bx-controls-direction .bx-prev:hover {
  background-image: url("../img/flecha_left_hover.png");
}
.home_nuestras_marcas .bx-wrapper .bx-controls-direction .bx-next {
  background-image: url("../img/flecha_left.png");
  width: 40px;
  display: block;
  height: 40px;
  position: absolute;
  right: -80px;
  top: 30%;
  transition: 0.3s ease all;
  background-size: cover;
}
.home_nuestras_marcas .bx-wrapper .bx-controls-direction .bx-next:hover {
  background-image: url("../img/flecha_left_hover.png");
}
.home_nuestras_noticias {
  margin-top: 70px;
  margin-bottom: 55px;
}
.home_nuestras_noticias__list {
  display: flex;
  justify-content: center;
}
.home_nuestras_noticias__list__item:first-child {
  border-left: 1px solid transparent;
}
.home_nuestras_noticias__list__item {
  text-align: center;
  width: 25%;
  padding: 0 25px;
  border-left: 1px solid #e2e3e4;
}
.home_nuestras_noticias__list__item .fecha {
  font-size: 14px;
  font-family: f_roboto_r;
}
.home_nuestras_noticias__list__item h3 {
  margin-top: 20px;
  font-size: 18px;
  font-family: f_roboto_bl;
  color: #58595b;
  position: relative;
}
.home_nuestras_noticias__list__item h3:after {
  content: "";
  width: 60px;
  height: 2px;
  background: #8e9093;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  background: c_plomo;
}
.home_nuestras_noticias__list__item a {
  display: inline-block;
  margin-top: 50px;
  color: c_celeste;
  font-size: 16px;
  font-family: f_roboto_l;
  border-bottom: 1px solid c_celeste;
}
.home_nuestras_noticias__list__item a:hover {
  color: c_main;
  border-bottom: 1px solid c_main;
}
.home_nuestras_noticias__list__item--blog {
  text-align: left;
}
.home_nuestras_noticias__list__item--blog h3 {
  text-align: left;
  font-size: 36px;
  font-family: f_lato_bl;
  color: c_main;
}
.home_nuestras_noticias__list__item--blog h3:after {
  content: "";
  display: none;
}
.home_nuestras_noticias__list__item--blog a {
  display: inline-block;
  margin-top: 50px;
  color: c_celeste;
  font-size: 16px;
  font-family: f_roboto_l;
  border-bottom: 1px solid transparent;
}
.home_nuestras_noticias__list__item--blog a i {
  font-size: 20px;
  margin-left: 10px;
}
.home_nuestras_noticias__list__item--blog a:hover {
  border-bottom: 1px solid transparent;
  color: c_main;
}
@media screen and (max-width: 1400px) {
  .home_producto_industria .bx-wrapper {
    max-width: 1070px !important;
  }
  .home_producto_industria .producto_industria_slider__item {
    width: 260px !important;
  }
  .home_producto_industria .producto_industria_slider__img img {
    width: 100%;
  }
  .home_productos_destacados__banner {
    padding: 50px 30px 50px 30px;
    margin-right: 10px;
  }
  .container_slider__list__item {
    height: 480px;
  }
}
@media screen and (max-width: 1200px) {
  .home_productos_destacados__banner h3 {
    font-size: 34px;
  }
  .home_productos_destacados__banner .btn--banner {
    font-size: 14px;
  }
  .home_producto_industria .bx-wrapper {
    max-width: 790px !important;
  }
  .home_productos_destacados__banner {
    padding: 30px 20px 30px 20px;
  }
}
@media screen and (max-width: 960px) {
  .home_productos_destacados__banner {
    box-sizing: border-box;
  }
  .home_producto_industria .bx-wrapper {
    max-width: 535px !important;
  }
  .home_productos_destacados {
    flex-direction: column;
    margin-top: 20px;
  }
  .home_productos_destacados__banner {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .container_slider__list__item {
    height: 360px;
  }
  .container_slider__list__item .container_slider__description .container_slider__title {
    text-shadow: 1px 3px 12px #000;
  }
}
@media screen and (max-width: 660px) {
  .home_producto_industria .bx-wrapper {
    max-width: 265px !important;
  }
}
@media screen and (max-width: 480px) {
  .home_productos_destacados__banner h3 {
    font-size: 24px;
  }
  .home_producto_industria .producto_industria_slider__item {
    width: 230px !important;
  }
  .home_producto_industria .bx-wrapper {
    max-width: 230px !important;
  }
  .home_producto_industria .bx-wrapper .bx-controls-direction .bx-next {
    width: 30px;
    height: 30px;
    right: -35px;
  }
  .home_producto_industria .bx-wrapper .bx-controls-direction .bx-prev {
    left: -35px;
    width: 30px;
    height: 30px;
  }
  .container_slider__list__item {
    height: 360px;
  }
  .container_slider__list__item .container_slider__description {
    text-align: center;
  }
  .container_slider__list__item .container_slider__description .container_slider__title {
    font-size: 24px;
  }
  .container_slider .bx-pager {
    justify-content: center;
  }
}
