.header {
  height: 100px;
  box-shadow: 0px 1px 1px #f1f1f1;
}
.header__icons__active {
  transform: scale(1) !important;
  visibility: visible !important;
}
.header__icons__none {
  transform: scale(0) !important;
  visibility: hidden;
}
.header__icons__close {
  color: #232868;
  font-size: 26px;
  padding: 5px;
  display: none;
  visibility: hidden;
  transform: scale(0);
  background: #fff;
  border-radius: 4px;
  position: fixed;
  transition: 0.4s ease all;
  top: 20px;
  right: 20px;
  z-index: 100;
}
.header__icons__open {
  transform: scale(1);
  display: none;
  color: #fff;
  background: #232868;
  padding: 5px;
  font-size: 26px;
  border-radius: 4px;
  transition: 0.4s ease all;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}
.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  width: 100%;
  height: auto;
  display: block;
}
.header__menu ul {
  display: flex;
}
.header__menu ul li {
  margin: 0px 20px;
}
.header__menu ul li a {
  color: #8e9093;
  font-family: 'latobold';
  font-size: 16px;
  transition: 0.3s ease all;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
}
.header__menu ul li a:hover {
  border-bottom: 2px solid #2f57c9;
}
.footer {
  padding-top: 80px;
  margin-top: 20px;
  background: #232868;
}
.footer__top {
  padding-bottom: 60px;
}
.footer__top__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__top__title {
  font-family: 'robotoblack';
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
}
.footer__datos {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.footer__datos__description p {
  margin-bottom: 2px;
  font-size: 14px;
  font-family: 'robotoregular';
  color: #fff;
}
.footer__datos__title_redes {
  font-size: 14px;
  font-family: 'robotoblack';
  color: #fff;
  margin-top: 15px;
}
.footer__datos__list_redes {
  display: flex;
  margin: 0;
  margin-top: 10px;
}
.footer__datos__list_redes li {
  margin: 0;
  margin-right: 8px;
}
.footer__datos__list_redes li a {
  color: #232868;
  background: #fff;
  padding: 6px;
  border-radius: 50%;
  transition: 0.3s ease all;
}
.footer__datos__list_redes li a:hover {
  background: #4893ff;
  color: #fff;
}
.footer__contact__description {
  margin-top: 20px;
}
.footer__contact__description h4 {
  font-family: 'latobold';
  font-size: 14px;
  color: #fff;
  margin: 0;
}
.footer__contact__description a {
  font-family: 'latoregular';
  font-size: 14px;
  color: #fff;
}
.footer__cel__list li {
  margin-top: 3px;
}
.footer__cel__list li a {
  color: #fff;
  font-size: 16px;
  font-family: 'latoregular';
}
.footer__links {
  display: flex;
}
.footer__links ul {
  margin: 0 25px;
  display: flex;
  flex-direction: column;
}
.footer__links ul li {
  margin: 0px 0px 15px 0px;
}
.footer__links ul li a {
  color: #a1ddff;
  font-size: 16px;
  font-family: 'robotoblack';
  transition: 0.3s ease all;
}
.footer__links ul li a:hover {
  color: #4893ff;
}
.footer__bottom {
  border-top: 1px solid #fff;
  padding: 10px 0px;
}
.footer__bottom__copyright {
  display: flex;
  align-items: center;
}
.footer__bottom__credit {
  display: flex;
  align-items: center;
}
.footer__bottom__list {
  display: flex;
  justify-content: space-between;
}
.footer__bottom__list h4 {
  font-family: 'arialregular';
  color: #fff;
  font-size: 12px;
  margin: 0;
}
@media screen and (max-width: 960px) {
  .footer {
    padding-top: 60px;
  }
  .footer__datos {
    width: auto;
  }
  .footer__top__item {
    width: 48%;
    margin: 15px 0px;
  }
  .footer__links ul:first-child {
    margin-left: 0;
  }
  .footer__links ul {
    margin: 0px 15px;
  }
  .header__icons__close {
    display: block;
  }
  .header__icons__open {
    display: block;
  }
  .header__menu--responsive-active {
    right: 0px !important;
  }
  .header__menu--responsive {
    position: fixed;
    z-index: 50;
    width: 200px;
    padding-top: 70px;
    height: 100%;
    top: 0;
    right: -250px;
    background: #232868;
    transition: 0.4s ease all;
  }
  .header__menu--responsive ul {
    flex-direction: column;
  }
  .header__menu--responsive ul li {
    margin: 0px 0px;
  }
  .header__menu--responsive ul li a {
    color: #fff;
    width: 100%;
    display: inline-block;
    padding: 10px 0px 10px 20px;
    margin: 0;
  }
  .header__menu--responsive ul li a:hover {
    background: #fff;
    border-bottom: 2px solid transparent;
    color: #2f57c9;
  }
}
@media screen and (max-width: 768px) {
  .footer__top__title {
    font-size: 16px;
  }
  .footer__links ul:first-child {
    margin-left: 0;
  }
  .footer__links ul {
    margin: 0px 10px;
  }
  .footer__links ul li a {
    font-size: 14px;
  }
  .footer__bottom__list {
    align-items: center;
    flex-direction: column;
  }
  .footer__bottom__copyright {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 84px;
  }
  .header .header__logo {
    width: 225px;
  }
  .footer__top__item {
    justify-content: center;
  }
  .footer__top__list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__top__item {
    width: 100%;
  }
  .footer__datos__list_redes {
    justify-content: center;
  }
}
.container_slider {
  width: 100%;
}
.container_slider__list__item {
  z-index: 1000;
  height: 360px;
  width: 100%;
}
.container_slider__list__item .container {
  display: flex !important;
  align-items: center;
  height: 100%;
}
.container_slider__list__item .container_slider__description {
  max-width: 420px;
  transform: translateY(50);
  transition: all 0.6s cubic-bezier(0.68, -0.45, 0.165, 1.35);
  opacity: 0;
  margin-top: 20px;
}
.container_slider__list__item .container_slider__description .container_slider__title {
  font-family: 'latobold';
  font-size: 36px;
  color: #fff;
}
.container_slider__list__item.active .container_slider__description {
  opacity: 1;
  margin-top: 0;
  transform: translateY(0) !important;
}
.container_slider__btn {
  margin-top: 40px;
  display: inline-block;
}
.container_slider .bx-wrapper {
  position: relative;
}
.container_slider .bx-pager {
  display: flex;
}
.container_slider .bx-has-pager {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  max-width: 1200px;
  width: 96%;
  margin: auto;
  bottom: 20px;
}
.container_slider .bx-pager-item {
  margin: 0px 3px;
}
.container_slider .bx-wrapper .bx-pager.bx-default-pager a {
  position: relative;
  text-indent: -99999px;
  outline: 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 2px 0px;
  background: #fff;
}
.container_slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #a1ddff !important;
}
.home_producto_industria {
  margin-top: 50px;
}
.home_producto_industria .title_block {
  margin-bottom: 50px;
}
.home_producto_industria .producto_industria_slider__cnt_img--bottom {
  margin-top: 40px;
}
.home_producto_industria .producto_industria_slider__img {
  position: relative;
  display: block;
}
.home_producto_industria .producto_industria_slider__img img {
  display: block;
}
.home_producto_industria .producto_industria_slider .capa {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/static/img/capa.png");
  z-index: 10;
  width: 100%;
  height: 100%;
}
.home_producto_industria .producto_industria_slider__item {
  cursor: pointer;
}
.home_producto_industria .producto_industria_slider__item .capa--hover {
  transition: 0.7s ease all;
  transform: scale(0);
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_producto_industria .producto_industria_slider__item .capa--hover .d-flex {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home_producto_industria .producto_industria_slider__item .capa--hover .img__hover {
  width: 47px;
  height: 40px;
  background-size: cover;
}
.home_producto_industria .producto_industria_slider__item .capa--hover h4.title_industria__hover {
  font-family: 'latobold';
  font-size: 19px;
  margin: auto;
  color: #fff;
  text-align: center;
  margin: 5px 10px 0px 10px;
  z-index: 1000;
}
.home_producto_industria .producto_industria_slider__item .capa--hover .title_industria__border {
  content: "";
  width: 50px;
  height: 2px;
  background: #fff;
  margin: 0;
  margin-top: 5px;
}
.home_producto_industria .producto_industria_slider__item h4.title_industria {
  font-family: 'latobold';
  font-size: 19px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  text-align: center;
  margin: 0px 10px;
  z-index: 20;
  transition: 0.4s ease all;
}
.home_producto_industria .producto_industria_slider__item:hover h4.title_industria {
  opacity: 0;
}
.home_producto_industria .producto_industria_slider__item:hover .capa--hover {
  transform: scale(1);
  background: rgba(47,87,201,0.6);
  z-index: 20;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.home_producto_industria .bx-wrapper {
  margin: auto;
  position: relative;
}
.home_producto_industria .bx-wrapper .bx-controls-direction .bx-prev {
  background-image: url("/static/img/flecha_left.png");
  background-size: cover;
  width: 40px;
  display: block;
  height: 40px;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: rotate(180deg);
  transition: 0.3s ease all;
}
.home_producto_industria .bx-wrapper .bx-controls-direction .bx-prev:hover {
  background-image: url("/static/img/flecha_left_hover.png");
}
.home_producto_industria .bx-wrapper .bx-controls-direction .bx-next {
  background-image: url("/static/img/flecha_left.png");
  width: 40px;
  display: block;
  height: 40px;
  position: absolute;
  right: -50px;
  top: 50%;
  transition: 0.3s ease all;
  background-size: cover;
}
.home_producto_industria .bx-wrapper .bx-controls-direction .bx-next:hover {
  background-image: url("/static/img/flecha_left_hover.png");
}
.home_productos_destacados {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}
.home_productos_destacados__banner {
  width: 380px;
  background: #232868;
  padding: 110px 100px 60px 100px;
}
.home_productos_destacados__banner h3 {
  font-size: 45px;
  color: #fff;
  font-family: 'latobold';
}
.home_productos_destacados__banner .description {
  color: #fff;
  font-family: 'latoregular';
  font-size: 16px;
}
.home_productos_destacados__banner .btn--banner {
  display: inline-block;
  margin-top: 20px;
}
.home_servicios .container {
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
}
.home_servicios__content {
  max-width: 470px;
}
.home_servicios__content h3 {
  color: #2f57c9;
  font-family: 'latoblack';
  font-size: 36px;
}
.home_servicios__list {
  margin-top: 25px;
}
.home_servicios__list__item {
  margin-top: 35px;
  border-bottom: 1px solid #8e9093;
}
.home_servicios__list__item h4 {
  font-size: 21px;
  font-family: 'latoblack';
  color: #8e9093;
}
.home_servicios__list__description {
  font-family: 'latoregular';
  font-size: 16px;
  color: #8e9093;
  margin: 35px 0px;
}
.home_servicios .btn--servicios {
  display: inline-block;
  margin-top: 35px;
}
.home_servicios__list_img figure {
  background-repeat: no-repeat;
}
.home_servicios__list_img figure:first-child {
  padding: 35px 40px 0px 0px;
  background-image: url("/static/img/lineas_2.png");
  background-position: top right;
  margin-left: 140px;
}
.home_servicios__list_img figure:last-child {
  margin-top: -95px;
  padding: 0px 0px 35px 40px;
  background-image: url("/static/img/lineas_2.png");
  background-position: bottom left;
}
.home_nuestras_marcas {
  padding-top: 60px;
  background: #f7f7f7;
  margin-top: 60px;
  padding-bottom: 60px;
}
.home_nuestras_marcas .title_block p {
  font-size: 16px;
  font-family: 'latoregular';
  margin: 0;
  margin-top: 20px;
  color: #8e9093;
}
.home_nuestras_marcas__list {
  padding-bottom: 10px;
}
.home_nuestras_marcas__list__item figure {
  height: 70px;
  width: 135px;
}
.home_nuestras_marcas__list__item figure img {
  display: block;
  height: auto;
}
.home_nuestras_marcas .bx-wrapper {
  margin: auto;
  margin-top: 70px;
  position: relative;
}
.home_nuestras_marcas .bx-wrapper .bx-controls-direction .bx-prev {
  background-image: url("/static/img/flecha_left.png");
  background-size: cover;
  width: 40px;
  display: block;
  height: 40px;
  position: absolute;
  left: -80px;
  top: 30%;
  transform: rotate(180deg);
  transition: 0.3s ease all;
}
.home_nuestras_marcas .bx-wrapper .bx-controls-direction .bx-prev:hover {
  background-image: url("/static/img/flecha_left_hover.png");
}
.home_nuestras_marcas .bx-wrapper .bx-controls-direction .bx-next {
  background-image: url("/static/img/flecha_left.png");
  width: 40px;
  display: block;
  height: 40px;
  position: absolute;
  right: -80px;
  top: 30%;
  transition: 0.3s ease all;
  background-size: cover;
}
.home_nuestras_marcas .bx-wrapper .bx-controls-direction .bx-next:hover {
  background-image: url("/static/img/flecha_left_hover.png");
}
.home_nuestras_noticias {
  margin-top: 70px;
  margin-bottom: 55px;
}
.home_nuestras_noticias__list {
  display: flex;
  justify-content: center;
}
.home_nuestras_noticias__list__item:first-child {
  border-left: 1px solid transparent;
}
.home_nuestras_noticias__list__item {
  text-align: center;
  width: 25%;
  padding: 0 25px;
  border-left: 1px solid #e2e3e4;
}
.home_nuestras_noticias__list__item .fecha {
  font-size: 14px;
  font-family: 'robotoregular';
}
.home_nuestras_noticias__list__item h3 {
  margin-top: 20px;
  font-size: 18px;
  font-family: 'robotoblack';
  color: #58595b;
  position: relative;
}
.home_nuestras_noticias__list__item h3:after {
  content: "";
  width: 60px;
  height: 2px;
  background: #8e9093;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  background: #8e9093;
}
.home_nuestras_noticias__list__item a {
  display: inline-block;
  margin-top: 50px;
  color: #4893ff;
  font-size: 16px;
  font-family: 'robotolight';
  border-bottom: 1px solid #4893ff;
}
.home_nuestras_noticias__list__item a:hover {
  color: #2f57c9;
  border-bottom: 1px solid #2f57c9;
}
.home_nuestras_noticias__list__item--blog {
  text-align: left;
}
.home_nuestras_noticias__list__item--blog h3 {
  text-align: left;
  font-size: 36px;
  font-family: 'latoblack';
  color: #2f57c9;
}
.home_nuestras_noticias__list__item--blog h3:after {
  content: "";
  display: none;
}
.home_nuestras_noticias__list__item--blog a {
  display: inline-block;
  margin-top: 50px;
  color: #4893ff;
  font-size: 16px;
  font-family: 'robotolight';
  border-bottom: 1px solid transparent;
}
.home_nuestras_noticias__list__item--blog a i {
  font-size: 20px;
  margin-left: 10px;
}
.home_nuestras_noticias__list__item--blog a:hover {
  color: #2f57c9;
}
@media screen and (max-width: 1400px) {
  .home_productos_destacados__banner {
    padding: 50px 30px 50px 30px;
  }
  .container_slider__list__item {
    height: 480px;
  }
}
.nosotros_nuestra_historia {
  margin-top: 70px;
}
.nosotros_nuestra_historia .container {
  display: flex;
  justify-content: space-between;
}
.nosotros_nuestra_historia .container .nuestra_historia_content {
  max-width: 470px;
}
.nosotros_nuestra_historia .container .nuestra_historia_content h3 {
  color: #2f57c9;
  font-size: 30px;
  font-family: 'latoblack';
}
.nosotros_nuestra_historia .container .nuestra_historia_content .nuestra_historia_description {
  margin-top: 40px;
  color: #8e9093;
  font-size: 16px;
  font-family: 'latoregular';
  text-align: justify;
}
.nosotros_nuestra_historia .container .nuestra_historia_image figure {
  background-repeat: no-repeat;
}
.nosotros_nuestra_historia .container .nuestra_historia_image figure:first-child {
  padding: 35px 40px 0px 0px;
  background-image: url("/static/img/lineas.png");
  background-position: top right;
  margin-left: 140px;
}
.nosotros_nuestra_historia .container .nuestra_historia_image figure:last-child {
  margin-top: -115px;
  padding: 0px 0px 35px 40px;
  background-image: url("/static/img/lineas.png");
  background-position: bottom left;
}
.nosotros_mision_vision {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.nosotros_mision_vision .cnt_vision {
  padding-left: 50px;
}
.nosotros_mision_vision .cnt_mision {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}
.nosotros_mision_vision .cnt_mision_vision {
  width: 50%;
  padding: 50px 0px;
  background-color: rgba(0,0,0,0.6);
  position: relative;
}
.nosotros_mision_vision .cnt_mision_vision .capa {
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.nosotros_mision_vision .cnt_mision_vision .mision_vision {
  position: relative;
  z-index: 20;
  width: 350px;
  margin: 0px 100px;
}
.nosotros_mision_vision .cnt_mision_vision .mision_vision h3 {
  color: #fff;
  font-size: 30px;
  padding-bottom: 5px;
  font-family: 'robotobold';
  position: relative;
}
.nosotros_mision_vision .cnt_mision_vision .mision_vision h3:after {
  content: "";
  width: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #fff;
}
.nosotros_mision_vision .cnt_mision_vision .mision_vision .mision_vision__description {
  font-size: 16px;
  color: #fff;
  font-family: 'robotoregular';
}
.nosotros_nuestros_valores {
  margin-top: 55px;
}
.nosotros_nuestros_valores .title_block {
  margin-bottom: 55px;
}
.nosotros_nuestros_valores__list {
  justify-content: space-between;
  display: flex;
}
.nosotros_nuestros_valores__list__item {
  width: 20%;
}
.nosotros_nuestros_valores__list__item figure {
  width: 118px;
  height: 78px;
}
.nosotros_nuestros_valores__list__item h3 {
  font-size: 16px;
  font-family: 'latobold';
  color: #232868;
  text-align: center;
  margin: 20px 0px;
  position: relative;
  padding-bottom: 15px;
}
.nosotros_nuestros_valores__list__item h3:after {
  content: "";
  width: 40px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  height: 2px;
  background-color: #2f57c9;
}
.nosotros_nuestros_valores__list__item .description {
  color: #8e9093;
  line-height: 20px;
  font-size: 16px;
  font-family: 'latoregular';
  text-align: center;
}
.productos {
  margin-top: 10px;
}
.productos .container {
  display: flex;
}
.productos .container .container_products {
  justify-content: flex-start;
  flex-wrap: wrap;
  width: calc(100% - 280px);
  position: relative;
}
.productos .container .container_products .flecha_top {
  position: absolute;
  right: 0;
  bottom: 100px;
  cursor: pointer;
  transition: 0.3s ease all;
}
.productos .container .container_products .flecha_top:hover {
  bottom: 120px;
}
.productos .container .container_products .product__enlace a {
  font-size: 13px;
}
.productos .container .container_products .product__title {
  margin-top: 10px;
}
.productos .container .container_products .product__title h3 {
  font-size: 16px;
}
.productos .container .container_products .product {
  width: 30%;
  box-sizing: border-box;
  margin: 0px 10px 20px 10px;
}
.productos__categorias ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productos__categorias ul li {
  width: 23%;
  margin-bottom: 10px;
}
.productos__categorias ul li a.active {
  color: #fff;
  background: #2f57c9;
}
.productos__categorias ul li a {
  display: inline-block;
  background: #ededee;
  color: #8e9093;
  font-size: 20px;
  font-family: 'latobold';
  padding: 20px 20px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  transition: 0.3s ease all;
}
.productos__categorias ul li a:hover {
  color: #fff;
  background: #2f57c9;
}
.productos__cnt_subcategoria_productos {
  margin-top: 50px;
}
.productos__cnt_subcategoria {
  width: 280px;
  margin-right: 20px;
}
.productos__cnt_subcategoria h3 {
  color: #2f57c9;
  font-size: 22px;
  padding-bottom: 8px;
  font-family: 'latoblack';
  position: relative;
}
.productos__cnt_subcategoria h3:after {
  content: "";
  width: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #2f57c9;
}
.productos__subcategoria ul li a {
  display: inline-block;
  font-size: 18PX;
  font-family: 'latoregular';
  color: #8e9093;
  transition: 0.3s ease all;
  border-bottom: 1px solid #8e9093;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  transition: 0.3s ease all;
}
.productos__subcategoria ul li a:hover {
  border-bottom: 1px solid #2f57c9;
  color: #2f57c9;
}
