.nosotros_nuestra_historia {
  margin-top: 70px;
}
.nosotros_nuestra_historia .container {
  display: flex;
  justify-content: space-between;
}
.nosotros_nuestra_historia .container .nuestra_historia_content {
  max-width: 470px;
  margin-right: 30px;
}
.nosotros_nuestra_historia .container .nuestra_historia_content h3 {
  color: c_main;
  font-size: 30px;
  font-family: f_lato_bl;
}
.nosotros_nuestra_historia .container .nuestra_historia_content .nuestra_historia_description {
  margin-top: 40px;
  color: c_plomo;
  font-size: 16px;
  font-family: f_lato_r;
  text-align: justify;
}
.nosotros_nuestra_historia .container .nuestra_historia_image figure {
  background-repeat: no-repeat;
}
.nosotros_nuestra_historia .container .nuestra_historia_image figure:first-child {
  padding: 35px 40px 0px 0px;
  background-image: url("/static/img/lineas.png");
  background-position: top right;
  margin-left: 140px;
}
.nosotros_nuestra_historia .container .nuestra_historia_image figure:last-child {
  margin-top: -115px;
  padding: 0px 0px 35px 40px;
  background-image: url("/static/img/lineas.png");
  background-position: bottom left;
}
.nosotros_mision_vision {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.nosotros_mision_vision .cnt_vision {
  padding-left: 50px;
}
.nosotros_mision_vision .cnt_mision {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}
.nosotros_mision_vision .cnt_mision_vision {
  width: 50%;
  padding: 50px 0px;
  background-color: rgba(0,0,0,0.6);
  position: relative;
}
.nosotros_mision_vision .cnt_mision_vision .capa {
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.nosotros_mision_vision .cnt_mision_vision .mision_vision {
  position: relative;
  z-index: 20;
  width: 350px;
  margin: 0px 100px;
}
.nosotros_mision_vision .cnt_mision_vision .mision_vision h3 {
  color: c_white;
  font-size: 30px;
  padding-bottom: 5px;
  font-family: f_roboto_b;
  position: relative;
}
.nosotros_mision_vision .cnt_mision_vision .mision_vision h3:after {
  content: "";
  width: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: c_white;
}
.nosotros_mision_vision .cnt_mision_vision .mision_vision .mision_vision__description {
  font-size: 16px;
  color: c_white;
  font-family: f_roboto_r;
}
.nosotros_nuestros_valores {
  margin-top: 50px;
  margin-bottom: 50px;
}
.nosotros_nuestros_valores .title_block {
  margin-bottom: 55px;
}
.nosotros_nuestros_valores__list {
  justify-content: space-between;
  display: flex;
}
.nosotros_nuestros_valores__list__item {
  width: 20%;
}
.nosotros_nuestros_valores__list__item figure {
  width: 118px;
  height: 78px;
}
.nosotros_nuestros_valores__list__item h3 {
  font-size: 16px;
  font-family: f_lato_b;
  color: c_footer;
  text-align: center;
  margin: 20px 0px;
  position: relative;
  padding-bottom: 15px;
}
.nosotros_nuestros_valores__list__item h3:after {
  content: "";
  width: 40px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  height: 2px;
  background-color: c_main;
}
.nosotros_nuestros_valores__list__item .description {
  color: c_plomo;
  line-height: 20px;
  font-size: 16px;
  font-family: f_lato_r;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .nosotros_nuestra_historia {
    margin-top: 40px;
  }
  .nosotros_nuestra_historia .container .nuestra_historia_content {
    margin: 0;
    max-width: 100%;
  }
  .nosotros_nuestra_historia .container .nuestra_historia_content h3 {
    margin: 0;
    text-align: center;
  }
  .nosotros_nuestra_historia .container .nuestra_historia_image {
    display: none;
  }
  .nosotros_mision_vision .cnt_mision_vision .mision_vision {
    margin: 0px 20px;
    width: auto;
    max-width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .nosotros_mision_vision {
    flex-direction: column;
  }
  .nosotros_mision_vision .cnt_mision_vision {
    width: 100%;
  }
  .nosotros_mision_vision .cnt_mision_vision .mision_vision {
    max-width: 90%;
  }
  .nosotros_nuestros_valores__list {
    flex-wrap: wrap;
  }
  .nosotros_nuestros_valores__list__item {
    margin-bottom: 30px;
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .nosotros_nuestros_valores__list {
    justify-content: center;
  }
  .nosotros_nuestros_valores__list__item {
    width: 80%;
  }
}
