.producto_detalle {
  padding-top: 65px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.producto_detalle__item figure img {
  display: block;
  width: 100%;
  height: auto;
}
.producto_detalle .cnt_cotizar--active {
  right: 0 !important;
}
.producto_detalle .cotizar {
  max-width: 386px;
  position: relative;
}
.producto_detalle .cotizar .close {
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 0;
  color: c_white;
  z-index: 80;
  font-size: 32px;
}
.producto_detalle .cnt_cotizar {
  transition: 0.6s ease all;
  background: c_footer;
  position: absolute;
  right: -50%;
  top: 0;
  height: 100%;
  width: calc(45% + 20px);
  padding: 90px 0px 50px 80px;
  box-sizing: border-box;
  z-index: 50;
}
.producto_detalle .cnt_cotizar .description {
  font-size: 16px;
  font-family: f_lato_r;
  color: c_white;
  margin: 10px 0px;
}
.producto_detalle .cnt_cotizar h3 {
  margin: 0;
  font-size: 35px;
  font-family: f_lato_bl;
  color: #fff;
}
.producto_detalle .cnt_cotizar form {
  margin: 0;
}
.producto_detalle .cnt_cotizar form .btn--cotizar:hover {
  background-position: center right 10px;
}
.producto_detalle .cnt_cotizar form .btn--cotizar {
  transition: 0.3s ease all;
  display: inline-block;
  padding: 10px 35px;
  background-image: url("../img/flecha_r.png");
  background-repeat: no-repeat;
  background-position: center right 15px;
}
.producto_detalle .cnt_cotizar form .cnt-input {
  margin-bottom: 20px;
}
.producto_detalle .cnt_cotizar form .cnt-input .input input {
  border-radius: 5px;
  height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  background: c_footer;
  border: 1px solid c_celeste_o;
}
.producto_detalle .container {
  display: flex;
}
.producto_detalle .container .slider {
  display: flex;
  width: 65%;
}
.producto_detalle .container .slider #bx-pager {
  display: flex;
  flex-direction: column;
}
.producto_detalle .container .slider #bx-pager a.active:after {
  background: transparent !important;
}
.producto_detalle .container .slider #bx-pager a {
  position: relative;
}
.producto_detalle .container .slider #bx-pager a:after {
  content: "";
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  background: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
}
.producto_detalle__description {
  width: 45%;
  margin-left: 20px;
  position: relative;
}
.producto_detalle__description h3.title {
  font-size: 24px;
  font-family: f_lato_bl;
  color: c_main;
}
.producto_detalle__tabs {
  margin-top: 30px;
}
.producto_detalle__tabs__content {
  margin-top: 25px;
}
.producto_detalle__tabs__content .content {
  font-size: 16px;
  font-family: f_lato_r;
  color: c_plomo;
  line-height: 20px;
}
.producto_detalle__tabs__content .content p {
  margin: 0;
}
.producto_detalle__tabs__content .content ul {
  margin-left: 10px;
}
.producto_detalle__tabs__content .content ul li {
  margin: 2px 0px;
}
.producto_detalle__tabs__content .tab_active {
  display: block !important;
}
.producto_detalle__tabs__content .tab_content {
  animation: fadeEffect 0.5s;
  display: none;
}
.producto_detalle__tabs__title {
  display: flex;
}
.producto_detalle__tabs__title .title_active_last:after {
  left: 0;
}
.producto_detalle__tabs__title .title_first:after {
  right: 0;
}
.producto_detalle__tabs__title .title_active_last:after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 20;
  background: c_celeste;
}
.producto_detalle__tabs__title .title_active_first {
  color: c_celeste;
}
.producto_detalle__tabs__title .title_active_first:after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0px;
  z-index: 20;
  background: c_celeste;
}
.producto_detalle__tabs__title h3 {
  transition: 0.3s ease all;
  cursor: pointer;
  position: relative;
  padding: 5px 15px;
  font-size: 18px;
  font-family: f_lato_b;
  color: c_plomo;
}
.producto_detalle__tabs__title h3:after {
  transition: 0.8s ease all;
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0px;
  z-index: 20;
  background: c_celeste;
}
.producto_detalle__cotizar {
  margin-top: 35px;
}
.producto_detalle__cotizar a {
  display: inline-block;
  padding: 10px 35px;
  background-image: url("../img/flecha_r.png");
  background-repeat: no-repeat;
  background-position: center right 15px;
}
.producto_detalle__descarga {
  margin-top: 30px;
  display: flex;
}
.producto_detalle__descarga a:first-child {
  margin-right: 30px;
}
.producto_detalle__descarga a {
  display: flex;
  max-width: 160px;
  font-size: 18px;
  font-family: f_lato_b;
  color: c_plomo;
}
.producto_detalle__descarga a i {
  font-size: 40px;
  color: c_main;
  margin-right: 15px;
}
.producto_detalle_relacionados {
  padding-top: 50px;
  padding-bottom: 50px;
  background: c_bac;
}
.producto_detalle_relacionados .container_products {
  margin-top: 25px;
}
.producto_detalle_relacionados .container_products .product {
  background: c_white;
  margin: 0px;
  width: 270px !important;
}
.producto_detalle_relacionados .container_products .product__title {
  margin-top: 10px;
  margin-bottom: 0;
}
.producto_detalle_relacionados .container_products .product__title h3 {
  font-size: 16px;
}
.producto_detalle_relacionados .container_products .product__enlace a {
  position: relative;
  z-index: 2;
  font-size: 13px;
}
.producto_detalle_relacionados .bx-wrapper {
  margin: auto;
  position: relative;
}
.producto_detalle_relacionados .bx-wrapper .bx-viewport {
  height: 340px !important;
}
.producto_detalle_relacionados .bx-wrapper .bx-controls-direction .bx-prev {
  background-image: url("../img/flecha_left.png");
  background-size: cover;
  width: 40px;
  display: block;
  height: 40px;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: rotate(180deg);
  transition: 0.3s ease all;
}
.producto_detalle_relacionados .bx-wrapper .bx-controls-direction .bx-prev:hover {
  background-image: url("../img/flecha_left_hover.png");
}
.producto_detalle_relacionados .bx-wrapper .bx-controls-direction .bx-next {
  background-image: url("../img/flecha_left.png");
  width: 40px;
  display: block;
  height: 40px;
  position: absolute;
  right: -50px;
  top: 50%;
  transition: 0.3s ease all;
  background-size: cover;
}
.producto_detalle_relacionados .bx-wrapper .bx-controls-direction .bx-next:hover {
  background-image: url("../img/flecha_left_hover.png");
}
@media screen and (max-width: 1300px) {
  .producto_detalle_relacionados .container_products .product {
    width: 260px !important;
  }
  .producto_detalle_relacionados .bx-wrapper {
    max-width: 1081px !important;
  }
}
@media screen and (max-width: 1200px) {
  .producto_detalle__item {
    width: 420px;
  }
  .producto_detalle .container .slider .bx-wrapper {
    max-width: 420px !important;
  }
  .productos__cnt_subcategoria {
    width: 250px;
  }
  .producto_detalle_relacionados .bx-wrapper {
    max-width: 808px !important;
  }
  .producto_detalle .cotizar {
    max-width: 320px;
  }
}
@media screen and (max-width: 960px) {
  .producto_detalle .cnt_cotizar {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .producto_detalle .cotizar {
    max-width: 800px;
    margin: 0px 15px;
  }
  .producto_detalle .cnt_cotizar {
    width: 100%;
    right: -120%;
  }
  .producto_detalle .container .slider {
    justify-content: center;
  }
  .producto_detalle .container {
    flex-direction: column-reverse;
  }
  .producto_detalle__description {
    width: 100%;
    margin: 0;
  }
  .producto_detalle .container .slider {
    margin-top: 20px;
    width: 100%;
  }
  .producto_detalle_relacionados .container_products .product {
    width: 270px !important;
  }
  .producto_detalle_relacionados .bx-wrapper {
    max-width: 560px !important;
  }
  .productos__categorias ul li a {
    font-size: 16px;
  }
  .productos__subcategoria ul li a {
    font-size: 16px;
  }
  .productos .container .container_products .product {
    width: 45%;
  }
  .producto_detalle__item {
    width: 550px !important;
  }
  .producto_detalle .container .slider .bx-wrapper {
    max-width: 550px !important;
  }
}
@media screen and (max-width: 768px) {
  .producto_detalle_relacionados .container_products .product {
    width: 200px !important;
  }
  .producto_detalle__item {
    width: 400px !important;
  }
  .producto_detalle .container .slider .bx-wrapper {
    max-width: 400px !important;
  }
  .producto_detalle_relacionados .bx-wrapper {
    max-width: 420px !important;
  }
  .productos .container {
    flex-direction: column;
  }
  .productos__cnt_subcategoria {
    margin: 0;
    width: 100%;
  }
  .productos__cnt_subcategoria ul li a {
    padding: 8px 0px;
  }
  .container_products {
    margin-top: 20px;
  }
  .productos .container .container_products .product {
    width: 45%;
  }
  .productos .container .container_products {
    width: 100%;
  }
  .productos__categorias ul {
    flex-wrap: wrap;
  }
  .productos__categorias ul li {
    width: 30%;
  }
}
@media screen and (max-width: 660px) {
  .producto_detalle__item {
    width: 350px !important;
  }
  .producto_detalle .container .slider .bx-wrapper {
    max-width: 350px !important;
  }
  .producto_detalle .container .slider #bx-pager a img {
    height: 60px;
  }
  .producto_detalle_relacionados .container_products .product {
    width: 250px !important;
  }
  .producto_detalle_relacionados .bx-wrapper {
    max-width: 260px !important;
  }
}
@media screen and (max-width: 480px) {
  .producto_detalle__descarga a {
    font-size: 16px;
  }
  .producto_detalle__tabs__title h3 {
    padding: 5px 5px;
  }
  .productos__categorias ul {
    flex-wrap: wrap;
  }
  .productos__categorias ul li {
    width: 40%;
  }
  .productos .container .container_products .product {
    width: 80%;
  }
  .container_products {
    justify-content: center;
  }
  .producto_detalle_relacionados .container_products .product {
    width: 200px !important;
  }
  .producto_detalle_relacionados .bx-wrapper {
    max-width: 205px !important;
  }
  .producto_detalle__item {
    width: 250px !important;
  }
  .producto_detalle .container .slider .bx-wrapper {
    max-width: 250px !important;
  }
  .producto_detalle .container .slider #bx-pager a img {
    height: 40px;
  }
  .producto_detalle .container .slider {
    flex-direction: column-reverse;
  }
  .producto_detalle .container .slider #bx-pager {
    flex-direction: row;
    justify-content: center;
  }
  .producto_detalle .container .slider .bx-wrapper {
    margin: auto;
  }
}
@-moz-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
