.servicios {
  margin-bottom: 40px;
}
.servicios__cnt_title_tabs {
  display: flex;
  justify-content: space-between;
}
.servicios__cnt_title_tabs .tab {
  position: relative;
  cursor: pointer;
  transition: 0.3s ease all;
  text-align: center;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-left: 1px solid c_plomo;
  border-bottom: 1px solid c_plomo;
}
.servicios__cnt_title_tabs .tab span {
  color: c_plomo;
  font-size: 32px;
  margin: 0;
}
.servicios__cnt_title_tabs .tab h3 {
  margin: 0;
  margin-left: 10px;
  font-family: f_lato_b;
  font-size: 18px;
  color: c_main;
}
.servicios__cnt_title_tabs .tab .flecha {
  content: "";
  background-image: url("../img/ser_hover.png");
  width: 33px;
  height: 17px;
  position: absolute;
  transition: 0.5s ease all;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 20;
}
.servicios__cnt_title_tabs .tab:hover {
  background: c_main;
}
.servicios__cnt_title_tabs .tab:hover span {
  color: c_white;
}
.servicios__cnt_title_tabs .tab:hover h3 {
  color: c_white;
}
.servicios__cnt_title_tabs .tab:hover .flecha {
  opacity: 1;
  bottom: -15px;
}
.servicios__cnt_title_tabs .tab-active {
  background: c_main;
}
.servicios__cnt_title_tabs .tab-active span {
  color: c_white;
}
.servicios__cnt_title_tabs .tab-active h3 {
  color: c_white;
}
.servicios__cnt_title_tabs .tab-active .flecha {
  opacity: 1;
  bottom: -15px;
}
.servicios__cnt_tabs {
  margin-top: 75px;
}
.servicios__cnt_tabs .content_tab--active {
  display: flex !important;
}
.servicios__cnt_tabs .content_tab_2 {
  flex-direction: column;
}
.servicios__cnt_tabs .content_tab {
  animation: fadeEffect 0.5s;
  justify-content: space-between;
  display: none;
}
.servicios__cnt_tabs .servicios_tab_img--left figure:first-child {
  padding: 0px 0px 35px 40px !important;
  background-position: bottom left !important;
}
.servicios__cnt_tabs .servicios_tab_img--2 {
  margin-top: -95px !important;
}
.servicios__cnt_tabs .servicios_tab_img,
.servicios__cnt_tabs .servicios_tab_img--2 {
  width: 45%;
}
.servicios__cnt_tabs .servicios_tab_img figure,
.servicios__cnt_tabs .servicios_tab_img--2 figure {
  width: 470px;
}
.servicios__cnt_tabs .servicios_tab_img figure:last-child,
.servicios__cnt_tabs .servicios_tab_img--2 figure:last-child {
  margin-top: 0;
}
.servicios__cnt_tabs .servicios_tab_img figure:first-child,
.servicios__cnt_tabs .servicios_tab_img--2 figure:first-child {
  padding: 35px 40px 0px 0px;
  background-image: url("../img/lineas_2.png");
  background-position: top right;
  margin-left: 0px;
}
.servicios__cnt_tabs .servicios_tab_content {
  max-width: 550px;
}
.servicios__cnt_tabs .servicios_tab_content h3 {
  font-family: f_lato_b;
}
.servicios__cnt_tabs .servicios_tab_content__list {
  margin-top: 0px;
}
.servicios__cnt_tabs .servicios_tab_content__list__item--left {
  flex-direction: row-reverse;
}
.servicios__cnt_tabs .servicios_tab_content__list__item {
  padding-bottom: 65px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.servicios__cnt_tabs .servicios_tab_content__list__item .servicios__list__item__content {
  width: 45%;
}
.servicios__cnt_tabs .servicios_tab_content__list__item h4 {
  margin-bottom: 30px;
  color: c_plomo;
  font-family: f_lato_b;
  font-size: 20px;
  padding-bottom: 5px;
  position: relative;
}
.servicios__cnt_tabs .servicios_tab_content__list__item h4:after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 30px;
  height: 2px;
  background: c_plomo;
}
.servicios__cnt_tabs .servicios_tab_content__description {
  color: c_plomo;
  font-size: 16px;
  font-family: f_lato_r;
  line-height: 22px;
}
.servicios__cnt_tabs .servicios_tab_content__description ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  color: c_plomo;
  font-size: 16px;
  font-family: f_lato_r;
}
.servicios__cnt_tabs .servicios_tab_content__description ul li:after {
  content: "";
  z-index: 10;
  position: absolute;
  top: 8px;
  left: 0;
  width: 16px;
  height: 7px;
  background-image: url("../img/flecha_li.png");
}
@media screen and (max-width: 1200px) {
  .home_servicios__list_img figure {
    max-width: 380px;
    box-sizing: border-box;
  }
  .home_servicios__list_img figure img {
    width: 100%;
    height: auto;
    display: block;
  }
}
@media screen and (max-width: 960px) {
  .home_servicios__list_img {
    display: none;
  }
  .home_nuestras_marcas .bx-wrapper {
    max-width: 530px !important;
  }
  .home_servicios__list__item {
    text-align: left;
  }
  .home_servicios .container {
    margin-top: 40px;
  }
  .home_servicios__content {
    max-width: 100%;
    text-align: center;
  }
  .home_servicios__content h3 {
    font-size: 32px;
    text-align: center;
  }
  .home_servicios__list_img {
    display: none;
  }
  .home_nuestras_marcas {
    margin-top: 35px;
  }
  .home_nuestras_marcas .bx-wrapper {
    margin-top: 40px;
    max-width: 335px !important;
  }
  .home_nuestras_noticias__list__item h3 {
    font-size: 16px;
  }
  .home_nuestras_noticias__list__item--blog h3 {
    font-size: 32px;
  }
  .home_nuestras_noticias__list__item {
    padding: 0px 15px;
  }
  .home_nuestras_noticias {
    margin-top: 50px;
  }
  .servicios__cnt_tabs .content_tab {
    justify-content: center;
  }
  .servicios__cnt_tabs .servicios_tab_content__description ul li {
    text-align: left;
  }
  .servicios__cnt_tabs .servicios_tab_content {
    max-width: 100%;
  }
  .servicios__cnt_tabs .servicios_tab_img--2 {
    display: block;
    margin-top: 0px !important;
  }
  .servicios__cnt_tabs .servicios_tab_content__list__item {
    padding-bottom: 0;
  }
  .servicios__cnt_tabs .servicios_tab_img--left figure:first-child {
    padding: 0;
  }
  .servicios__cnt_tabs .servicios_tab_img figure:first-child figure,
  .servicios__cnt_tabs .servicios_tab_img--2 figure {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .home_nuestras_marcas {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .home_nuestras_marcas .bx-wrapper .bx-controls-direction .bx-prev {
    left: -50px;
  }
  .home_nuestras_marcas .bx-wrapper .bx-controls-direction .bx-next {
    right: -50px;
  }
  .home_nuestras_noticias__list {
    flex-wrap: wrap;
  }
  .home_nuestras_noticias__list__item:nth-child(3) {
    border-left: none;
  }
  .home_nuestras_noticias__list__item {
    width: 40%;
    margin-bottom: 25px;
  }
  .servicios__cnt_title_tabs {
    flex-direction: column;
  }
  .servicios__cnt_title_tabs .tab {
    width: 100%;
    box-sizing: border-box;
  }
  .servicios__cnt_tabs .servicios_tab_content__list__item {
    flex-direction: column;
    justify-content: center;
  }
  .servicios__cnt_tabs .servicios_tab_content__list__item .servicios__list__item__content {
    width: 100%;
    margin-bottom: 20px;
  }
  .servicios__cnt_tabs .servicios_tab_img--2 {
    width: 100%;
    text-align: center;
  }
  .servicios__cnt_tabs .servicios_tab_img--2 figure:first-child {
    padding: 0 !important;
  }
  .servicios__cnt_tabs .servicios_tab_img--2 figure {
    padding: 0 !important;
    display: inline-block;
  }
}
@media screen and (max-width: 480px) {
  .home_nuestras_marcas .bx-wrapper {
    margin-top: 40px;
    max-width: 140px !important;
  }
  .home_nuestras_marcas .bx-wrapper .bx-controls-direction .bx-prev {
    left: -70px;
  }
  .home_nuestras_marcas .bx-wrapper .bx-controls-direction .bx-next {
    right: -70px;
  }
  .home_nuestras_noticias__list__item--blog {
    text-align: center;
  }
  .home_nuestras_noticias__list__item--blog h3 {
    text-align: center;
  }
  .home_nuestras_noticias__list__item {
    width: 80%;
    padding-bottom: 10px;
    border-left: none;
    border-bottom: 1px solid #e2e3e4;
  }
}
@-moz-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
