a
	margin 0



.container
	width 96%
	max-width 1200px
	margin auto
.container--small
	max-width 960px
.d-flex
	display flex

.title_block
	text-align center
	h2
		margin 0
		color c_main
		font-family f_lato_bl
		font-size 36px
.img_res
	display block
	width 100%
	height auto
placeholder(color,famyli)
	::-webkit-input-placeholder { color: color; font-family: famyli; } /* WebKit */
	:-moz-placeholder { color: color; font-family: famyli; } /* Firefox 18- */
	::-moz-placeholder { color: color; font-family: famyli; } /* Firefox 19+ */
	:-ms-input-placeholder { color: color; font-family: famyli; } /* IE 10+ */
