

c_plomo = #8E9093
c_main = #2F57C9
c_footer = #232868
c_white = #fff
c_celeste = #4893FF

f_arial_r = 'arialregular'
f_arial_b = 'arialbold'

f_roboto_b = 'robotobold'
f_roboto_l = 'robotolight'
f_roboto_r = 'robotoregular'
f_roboto_bl = 'robotoblack'

f_lato_r = 'latoregular'
f_lato_b = 'latobold'
