c_plomo = #8E9093
c_main = #2F57C9
c_footer = #232868
c_white = #fff
c_celeste = #4893FF
c_main_o = #3A75D6
c_celeste_o = #A1DDFF
c_plomo_c = #EDEDEE
c_bac = #F9F9F9

f_arial_r = 'arialregular'
f_arial_b = 'arialbold'

f_roboto_b = 'robotobold'
f_roboto_l = 'robotolight'
f_roboto_r = 'robotoregular'
f_roboto_bl = 'robotoblack'

f_lato_r = 'latoregular'
f_lato_b = 'latobold'
f_lato_bl = 'latoblack'
