#container_banner {
  width: 100%;
  height: 290px;
  position: relative;
}
#container_banner .capa {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("/static/img/capa_banner.png");
  width: 100%;
  height: 100%;
  z-index: 20;
}
#container_banner .container {
  position: relative;
  z-index: 30;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#container_banner .container h2 {
  text-align: center;
  color: c_white;
  font-size: 45px;
  font-family: f_lato_bl;
  max-width: 600px;
}
#container_banner .container .description {
  max-width: 700px;
  text-align: center;
  margin-top: 20px;
  font-family: f_lato_r;
  font-size: 16px;
  color: c_white;
}
.container_banner--large {
  height: 450px !important;
}
@media screen and (max-width: 768px) {
  #container_banner .container h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  #container_banner .container h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 48px) {
  #container_banner .container h2 {
    font-size: 30px;
  }
}
