.btn {
  padding: 10px 15px;
  font-family: f_lato_b;
  font-size: 15px;
}
.btn--main {
  color: c_white;
  background: c_main;
  transition: 0.3s ease all;
}
.btn--main:hover {
  background: c_main_o;
}
