.btn {
  padding: 10px 15px;
  font-family: f_lato_b;
  font-size: 15px;
}
.btn--main {
  color: c_white;
  background-color: c_main;
  transition: 0.3s ease all;
  border: transparent;
}
.btn--main:hover {
  background-color: c_main_o;
}
